.log-container {

  margin-top: 63px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: linear-gradient(180deg,
      #e9580f 0%,
      #e6a118 100%);

}

.log-box {
  background: #fff;
  padding: 30px;
  width: 330px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 0px;
}

.name-text {
  font-size: 1.5rem;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.log-box h2 {
  margin-bottom: 20px;
  color: #333;
  margin-top: 0px;
}

.log-box input {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.log-box button {
  width: 50%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.log-box button:hover {
  background: #5a67d8;
}

.log-text {
  margin-top: 15px;
  font-size: 14px;
}

.log-text span {
  color: #667eea;
  cursor: pointer;
  font-weight: 500;
}

@media (max-width: 480px) {
  .log-box {
    width: 80%;
    padding: 18px;
  }

  .log-box h2 {
    font-size: 1.2rem;
  }

  .log-box input {
    font-size: 14px;
  }

  .log-box button {
    font-size: 14px;
  }
}